.general-content {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 165px;

    background-color: rgba(245, 197, 7, 0.88);
    background-image:
            linear-gradient(45deg, rgba(245, 197, 7, 1) 25%, transparent 25%, transparent 75%, rgba(245, 197, 7, 1) 75%, rgba(245, 197, 7, 1)),
            linear-gradient(45deg, rgba(245, 197, 7, 1) 25%, transparent 25%, transparent 75%, rgba(245, 197, 7, 1) 75%, rgba(245, 197, 7, 1));
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8) inset;
}

.general-content__header {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: lighter;

    margin-bottom: 35px;

    text-transform: uppercase;

    color: #ffffff;
}

.general-content__video {
    float: left;
}

.general-content__text {
    font-family: 'Segoe UI Light';
    font-size: 1.8rem;

    color: #ffffff;
}

.general-content__icon-twitter {
    font-size: 10rem;

    margin-bottom: 15px;
    margin-left: 20px;
    padding-top: 15px;

    text-align: center;
    vertical-align: middle;

    color: #c18000;
}

.general-content__twitter {
    position: relative;

    float: right;

    min-height: 235px;
    padding-top: 15px;
    padding-right: 20px;

    text-align: right;

    background-color: #ec9e03;
}

.general-content::after {
    display: table;
    clear: both;

    content: '';
}

.general-content__icon-add {
    position: absolute;
    right: 15px;
    bottom: 15px;

    cursor: pointer;

    color: #ffffff;
    border: none;
    background-color: #ec9e03;
}