

.advantages-list__item {
	list-style-type: disc;

	color: #f5c506;

	font-size: 3rem;
	line-height: 85%;
}

.advantages-list__text {
	vertical-align: top;

	color: #ffffff;

	font-family: "PT Sans", sans-serif;
	font-size: 1.4rem;
}