.content {
    box-sizing: border-box;
    width: 100%;
    padding: 45px 10.8% 165px 10.8%;

    background-image: url('images/contentBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content__header {
    font-family: 'PT Sans', sans-serif;
    font-size: 37.05px;
    font-weight: lighter;

    margin-bottom: 30px;

    text-transform: uppercase;

    color: white;
}

.content__text {
    font-family: 'Segoe UI Light';
    font-size: 29.05px;

    color: white;
}

.content__icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.content__twitter
{
    position: relative;

    float: right;

    width: 25.4%;
    height: 235px;
    padding-top: 20px;
    padding-right: 20px;

    text-align: right;

    background-color: #ec9e03;
    background-image: url('images/twitterIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.video-content {
    float: left;
}

.content::after {
    display: table;
    clear: both;

    content: '';
}
