@media all and (max-width: 1100px) {
    .general-content {
        box-sizing: border-box;
        padding-top: 10px;
        padding-bottom: 0;

        background: #ffffff;

        box-shadow: none;
    }

    .general-content__header {
        display: none;
    }

    .general-content__video {
        width: 100%;
        margin: 0 0 8px 0;
        padding-right: 10px;
        padding-left: 10px;
    }

    .general-content__twitter {
        width: 100%;
        margin: 0;
        padding-top: 5px;

        background-color: #f5c507;
    }
}