.features {
    box-sizing: border-box;
    width: 100%;

    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.features__item {
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    border-right: 1px solid #d2d2d2;
}

.features__text {
    font-family: 'Segoe UI';
    font-size: 1.8rem;
    font-weight: lighter;
}

.features__icon {
    font-size: 5.7rem;
    line-height: 120%;

    color: #f5c506;
}

.features__item:first-child {
    border-left: 1px solid #d2d2d2;
}