.header {
	box-sizing: border-box;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 80px;

	background-image: url("images/headerBackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.header__external-logo {
	float: left;
}

.header__logo {
	float: left;

	margin-right: 5px;
}

.header-logo__text {
	float: left;

	margin-top: 50px;

	text-align: center;
	text-transform: uppercase;

	color: #ffffff;

	font-family: "Lao UI";
	font-size: 0.8rem;
}

.header__navigation {
	float: right;

	width: 45%;
	margin-top: 40px;
}

.header__text {
	float: right;

	margin-top: 10%;

	text-align: center;
	text-transform: uppercase;

	font-family: "Asap", sans-serif;
	font-size: 4rem;
}

.header__text--primary {
	clear: right;

	text-align: center;

	color: #f5c506;
}

.header__text--secondary {
	text-align: justify;

	color: #ffffff;
}

.header__video {
	float: left;

	margin-top: 50px;
}