.advantages {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 100px;

	background-image: url("images/advantagesBackgroundElement.png");
	background-repeat: repeat;
}

.advantages__header {
	margin-bottom: 7px;

	text-align: center;
	text-transform: uppercase;

	color: #f5c506;

	font-family: "PT Sans", sans-serif;
	font-size: 2.7rem;
}

.advantages__devices-placeholder {
	float: left;
}
.advantages__list-placeholder {
	float: right;

	width: 30%;
	margin-top: 85px;
}