.logo {
	display: block;
}
.logo__image {
	float: left;

	width: 85px;
	height: 85px;

	background-image: url("images/logo.png");
	background-size: auto;
}

.logo__text {
	float: left;

	padding-top: 30px;
	padding-left: 5px;

	color: #ffffff;

	font-family: "Lucida Sans";
	font-size: 2.5rem;
	font-style: italic;
}


.logo__image--small {
	width: 53px;
	height: 53px;

	background-image: url("images/logoSmall.png");
}

.logo__text--small {
	padding-top: 15px;
	padding-left: 5px;

	font-size: 1.8rem;
}

.logo::after {
	display: table;
	clear: both;

	content: "";
}