.devices {
	position: relative;

	padding-top: 40px;
}

.devices__desktop {
	margin-left: 20px;
}

.devices__tablet {
	margin-bottom: 35px;
	margin-left: 20px;
}

.devices__mobile {
	margin-bottom: 35px;
	margin-left: 20px;
}

.devices__free {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}