.navigation {
	--shadow-color: rgba(245, 197,102, 0.2);
	--text-color: #9b7d08;
}

.navigation {
	display: table;

	box-shadow: var(--shadow-color) -5px -5px ,
	var(--shadow-color) -9px -9px;
}

.navigation__list {
	display: table-row;

	list-style: none;
}

.navigation__list-item {
	display: table-cell;

	box-sizing: border-box;

	font-size: 1.2rem;
}

.navigation__text {
	text-transform: uppercase;

	font-family: "Segoe UI";
}

.navigation__icon {
	margin-right: 5px;
}

.navigation__list-item:last-child {
	border-right: none;
}

.navigation__button {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

	cursor: pointer;
	text-align: center;
	vertical-align: middle;

	color: var(--text-color);
	border: none;
	border-right: 1px solid var(--text-color);
	background-color: #f5c506;
}
.navigation__button:hover {
	border: 1px solid #0000ff;
}