.navigation {
    display: table;
    float: right;

    width: 43.9%;
    min-width: 366px;
    margin-top: 42px;
    margin-left: 70px;

    background-color: #f5c506;
    box-shadow: #9f8317 -5px -5px ,
    #7e6823 -9px -9px;
}

.navigation__list {
    display: table-row;

    margin: 0;
    padding: 0;

    list-style: none;
}

.navigation__list-item {
    font-size: 1.1rem;

    display: table-cell;

    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    vertical-align: middle;

    color: #9b7d08;
}

.navigation__text {
    font-family: 'Segoe UI';

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.navigation__icon {
    padding-right: 5px;

    vertical-align: middle;
}

.navigation__list-item:nth-child(2) {
    border-right: 1px solid #b99403;
    border-left: 1px solid #b99403;
}
